#ps1{
    max-width: 400px;
    border: 2px darkgray solid;
    float: left;
}
#ps2{
    border: 2px darkgray solid;
    max-width: 400px;
    float: left;
}
#ps3{
    border: 2px darkgray solid;
    max-width: 400px;
    float: left;
}
#inter{
    width: 300px;
    height: 200px;
    float: left;
}
#tabla{
    border-collapse: collapse;
    width: 50%;
    height: 450px;
    float: left;
}
.table,
th,
td{
    border: black 2px solid;
}

.container3{
    padding: 1em;
    overflow: hidden;
    text-align: center;
}
.container4{
    padding: 1em;
    overflow: hidden;
    text-align: center;
}