body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: snow;
}
h1{
    color: rgb(45, 89, 182);
    background-color: snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
;}
h2{
    color: rgb(45, 89, 182);
    background-color: snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pi{
color: rgb(255, 255, 255);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(37, 37, 37);
padding: 0.9%;

}
p.centrado{

    text-align: center;
}
.menu{
    list-style: none;
    padding:0%;
    background: rgb(79, 129, 221);
    width: 100%;
    max-width: 1000%;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: rgb(188, 217, 218);
}

.container{
    padding: 1em;
    overflow: hidden;
}
.container1{
    padding: 1em;
    overflow: hidden;
}
.container2{
    text-align: center;
    overflow: hidden;
    padding: 1em;
}
.item{
    margin: 1em;
    padding: 1em;
}

#item1{
    float: left;
    height: 1220px;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#item2{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#item3{
    float: right;
    
}
#item4{
    float: left;
    height: 620px;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
#item5{
    float: left;
    height: 950px;
    width: 500px;

}
#item6{
    float: left;
    height: 620px;
    width: 500px;

}
.titulos{
    color: black;
}